* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* header styles */
/* header styles end */

/* hero styles */
/* hero styles end */

/* my-work section styles */
/* my-work section styles end */

/* contact-me section styles */
/* contact-me section styles end */
